
#root {
  width: 100%;
}

*{
  box-sizing: border-box;
}

/* tvinger rutenett til å bruke hele bredden */
.MuiGrid-container {
 width: 100% !important;
 margin: 0 !important;
 display: flex !important;
 flex-wrap: wrap !important ;
}

/* sørger for at hver Grid-item følger kolonnebredden */
.MuiGrid-container{
  display: flex !important;
  justify-content: stretch !important;
}